* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
      grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background: #fff;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.book img {
  width: 200px;
  object-fit: cover;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.book p {
  margin: 1rem 0 0.5rem;
}
img {
  width: 40px;
}
.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #c35600;
  color: #fff;
}

.number:hover{
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
}